@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #303030;
}

button {
  //width: 200px;
  //height: 50px;
  position:absolute;
  //border: solid rgba(255,255,255,0.3) 1px;
  border: 0;
  box-sizing: border-box;
  padding: 12px 24px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
  background: none;
  transition: all 1s;

  
  color: white;
  font-family: 'Roboto', sans-serif;
  opacity:0.7;
  text-transform: uppercase;
  font-size: 16px;
  

  &:before, &:after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    
    border: 1px solid transparent;
    width: 0;
    height: 0;
  }

  &:before {
    top: 0;
    left: 0;
  }

  &:after {
    bottom: 0;
    right: 0;

  }

  &:hover {
    color: rgba(255,255,255,0.75);
    background: rgba(0,0,0,0.25);
    cursor: pointer;
    &:before, &:after  {
      width: 100%;
      height: 100%;
    }

    &:before {
      border-top-color: rgba(255,255,255,0.75);
      border-right-color: rgba(255,255,255,0.75);
      transition: 
        width 0.25s ease-out, height 0.25s ease-out 0.25s; //width then height
    }

    &:after {
      border-bottom-color: rgba(255,255,255,0.75); //borders visible
      border-left-color: rgba(255,255,255,0.75);
      transition:
        border-color 0s ease-out 0.5s, //wait for :before to finish before showing border
        width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; // then width then height
    }
  }



}
